extends ../shared/_master

append additionlCSS
    link(rel="stylesheet", href="/static/css/details.css")
append main
    .main.contianer#project
        .row
            .col-md-12
                nav.Quick-navigation
                    a.Quick-navigation-item(href='#title') 
                        | Title
                    a.Quick-navigation-item(href='#video')
                        | Video
                    a.Quick-navigation-item(href='#story')
                        | Story
                    a.Quick-navigation-item(href='#donate')
                        | Donate
                    a.Quick-navigation-item(href='#comments')
                        | Comments
                section#title.js-scroll-step
                    img(src=model.coverImg, style='width:100%', alt='Image')
                    h1.blur=model.title
                section#video.js-scroll-step
                        iframe(src=model.video, frameborder='0', allowfullscreen='false')
                section#story.js-scroll-step
                    h1.col-md-3.align-top.content
                        | Our Story
                    .story-content.col-md-9
                        p#motto.content=model.motto
                        p.content=model.description
                section#donate.js-scroll-step
                    .container
                        .row
                            .progress-title
                                | We have raised:
                        .row
                            .progress
                                - var target = parseInt(model.amount).toLocaleString()
                                - var donatedsofar = parseInt(model.donated).toLocaleString()
                                - var percentage = parseFloat(model.donated) / parseFloat(model.amount)*100
                                .progress-bar(role='progressbar', aria-valuenow=percentage, aria-valuemin='0', aria-valuemax='100', style=`width:${percentage}%`)
                                span.progress-type $#{donatedsofar} / $#{target}
                                span.progress-completed #{percentage.toFixed(2)}%
                        .row
                            .donate-title
                                | Support us
                        .row
                            #donation-table
                                .col-sm-6.col-lg-3
                                    .pricing.text-center
                                        .pricing-top
                                            p
                                                sup $
                                                em 10
                                            span Basic
                                        .btn(value='10') Donate Now
                                .col-sm-6.col-lg-3
                                    .pricing.text-center
                                        .pricing-top
                                            p
                                                sup $
                                                em 25
                                            span Gold
                                        .btn(value='25') Donate Now
                                .col-sm-6.col-lg-3
                                    .pricing.text-center
                                        .pricing-top
                                            p
                                                sup $
                                                em 50
                                            span Dimond
                                        .btn(value='50') Donate Now
                                .col-sm-6.col-lg-3
                                    .pricing.text-center
                                        .pricing-top
                                            p
                                                sup $
                                                em 100
                                            span Pro
                                        .btn(value='100') Donate Now
                section#comments.js-scroll-step
                     #comment-content.contianer
                        .row
                            .widget-area.no-padding.blank
                                form
                                    textarea(placeholder='What are you doing right now?')
                                button.btn.btn-success.green(type='submit')
                                    i.fa.fa-share
                                    |  Share
                        .row
                            .container
                                .dialogbox
                                    .body
                                        span.tip.tip-left
                                        .message
                                            span I just made a comment about this comment box which is purely made from CSS.
                                .dialogbox
                                    .body
                                        span.tip.tip-left
                                        .message
                                            span I just made a comment about this comment box which is purely made from CSS.
                                .dialogbox
                                    .body
                                        span.tip.tip-left
                                        .message
                                            span I just made a comment about this comment box which is purely made from CSS.
                                .dialogbox
                                    .body
                                        span.tip.tip-left
                                        .message
                                            span I just made a comment about this comment box which is purely made from CSS.
block append scripts
    script(src="/static/js/project.js")
    script(src="/static/js/donate.js")