extends ../shared/_master
include ../projects/_projects_mixin

block main
    .container
        h1.page-header Edit Profile
        .row
            // left column
            .col-md-4.col-sm-6.col-xs-12
                .text-center
                    img.avatar.img-circle.img-thumbnail(src='https://qph.ec.quoracdn.net/main-qimg-3b0b70b336bbae35853994ce0aa25013?convert_to_webp=true', alt='avatar')
                    h6 Upload a different photo...
                    input.text-center.center-block.well.well-sm(type='file')
            // edit form column
            .col-md-8.col-sm-6.col-xs-12.personal-info
                h3 Personal info
                .msg-holder
                #form-holder
                    .form.form-horizontal
                        .form-group
                            label.col-md-3.control-label Username:
                            .col-md-8
                                label#currentUser.control-label=user.username
                        .form-group
                            label.col-lg-3.control-label First name:
                            .col-lg-8
                                input.form-control(type='text', name="firstName",placeholder='First Name' value=user.firstName)
                        .form-group
                            label.col-lg-3.control-label Last name:
                            .col-lg-8
                                input.form-control(type='text', name="lastName", placeholder='Last name' value=user.lastName)
                        .form-group
                            label.col-lg-3.control-label Email:
                            .col-lg-8
                                input.form-control(type='email', name="email", placeholder='E-mail' value=user.email)

                div
                    .form-group
                        label.col-md-3.control-label
                        .col-md-8
                        button#updateButton.submitbtn.btn.btn-primary(type='submit')
                            | Update

            .col-md-12.col-sm-12.col-xs-12.personal-info
                h2.text-center Balance
                #form-holder
                    .form.form-horizontal
                        .form-group
                            label.col-md-3.control-label Current amount:
                            .col-md-8
                                label#current-balance.control-label=user.amount
                        .form-group
                                label.col-lg-3.control-label Enter new amount:
                                .col-lg-8
                                    input.form-control(type='number', name="amount",placeholder='Amount to add', min=0,max=10000)
                div
                    .form-group
                        label.col-md-3.control-label
                        .col-md-8
                        button#addMoneyButton.submitbtn.btn.btn-primary(type='submit')
                            | Load money

            h2.text-center My projects
            #projects.container
                +prj(myProjects)
            h2.text-center Favourites
            #projects.container
                +prj(favouriteProjects)

block append scripts
    script(src="/static/js/profile.js")
